body {
  background-image: url("../Images/games-bg.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}
.game-bar {
  position: fixed;
  display: inline-block;
  width: 300px;
  height: 100px;
  border-radius: 15px;
  left: 15cm;
  bottom: 50px;
}
