#answer-0 {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
#answer-1 {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
#answer-2 {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#answer-0:hover {
  background-color: rgb(60, 255, 0);
  animation: bouncing 0.5s ease-in-out;
  transform-origin: center bottom;
}
#answer-1:hover {
  background-color: rgb(60, 255, 0);
  animation: bouncing 0.5s ease-in-out;
  transform-origin: center bottom;
}
#answer-2:hover {
  background-color: rgb(60, 255, 0);
  animation: bouncing 0.5s ease-in-out;
  transform-origin: center bottom;
}

@keyframes bouncing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#answer {
  font-size: 20px;
  text-align: center;
}

#question {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
#current-question-count {
  color: rgb(0, 255, 13);
  font-weight: bold;
}
#max-question {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.answer-boxes {
  background-color: rgba(251, 255, 0, 0);
  width: 300px;
  height: 100px;
  border-radius: 15px;
  bottom: -5cm;
}

.quiz-title {
  background-color: rgb(251, 255, 0);
  padding: 0.5cm;
  border-radius: 50px;
}
.quiz-current-question {
  background-color: rgb(255, 255, 255);
  padding: 0.5cm;
  border-radius: 50px;
  width: 300px;
  height: 100px;
}
.question-status {
  background-color: #000;
  color: aliceblue;
  width: 300px;
}
.quiz-container {
  width: 300px;
  text-align: center;
  position: relative;
  bottom: -100px;
  margin: auto;
}
.score-bar {
  background-color: rgba(0, 0, 0, 0.834);
  width: 300px;
  height: 35px;
  border-radius: 5px;
  font-size: x-large;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.score {
  color: rgb(0, 255, 0);
}
.score-red {
  color: rgb(255, 0, 0);
}
